
assets/*
protected/runtime/*
themes/classic/views/
.idea/



admin/www/assets/*
admin/runtime/*
frontend/www/assets/*
frontend/runtime/*
console/runtime/*
data/*
frontend/www/css/compiled/*
admin/www/css/compiled/*