
@inputHeight : 10px;

@import "mixins.less";


/****************************Variables*********************************/
@color-main = #2f7a8f;
@color-main-hover = #1e93a0;
@color-body = #f5f4ef;
@color-shadow = #3d3f3a;
@color-white = #ffffff;
@color-black = #000000;
@color-gray = #808080;

/********************************ICONS*********************************/
.css-icon{
    position: relative;
    &:before,&:after{
        content: '';
        display:block;
        position: absolute;
    }
}
.css-icon-comment{
    border: 1px solid lighten(@color-gray,28%);
    padding: 0px 3px 0 2px;
    font-size: 0.8em;
    .border-radius(2px);
    color:lighten(@color-black,38%);
    background-color: lighten(@color-gray,45%);
    z-index:3;
    cursor:pointer;
    .transition(border-color 0.3s ease-in-out);
    &:hover,&:hover:after{
        border-color: @color-main-hover;
    }
    &:after{
        .transition(border-color 0.3s ease-in-out);
        top:90%;
        left:60%;
        border-right: 1px solid lighten(@color-gray,28%);
        border-bottom: 1px solid lighten(@color-gray,28%);
        background-color: lighten(@color-gray,45%);
        .rotate(45deg);
        .square(3px);
        z-index:4;
    }
}
/**********************************************************************/

body{
    background-color: @color-body;
}
a{
    color:@color-main;
    &:hover{
        color:@color-main-hover;
        text-decoration: none;
    }
}


.main-container{
    max-width: 979px;
    .center-block();
}

.header{
    margin:0;
    .navbar-inner{
        height: 165px;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        #gradient > .vertical-five-colors(@color-main,@color-main, 70%,lighten(@color-main,6%),  88%,lighten(@color-main,6%), 92%,@color-main, 110%);
    }
}

.head{
    background-color: @color-body;
    height: 270px;
     .logo{
         height: 170px;
     }
    .menu{
        height: 79px;
        position: relative;
        #gradient > .vertical(lighten(@color-main,6%),darken(@color-main,10%));
        box-shadow:0px 1px 0px 0px lighten(@color-shadow,1%),
                   0px 2px 0px 0px lighten(@color-shadow,10%),
                   0px 2px 0px 1px lighten(@color-shadow,40%),
                   0px 2px 0.5px 2px lighten(@color-shadow,50%),
                   0px 3px 1px 0px lighten(@color-shadow,55%);
        border-bottom: 1px solid lighten(desaturate(@color-main,15%),1%);
        .border-radius(1px);
        padding: 1px 0;
        &:before{
            content: " ";
            position: absolute;
            display: block;
            width: 1px;
            height: 80px;
            top:1px;
            left: -1px;
            #gradient > .vertical(lighten(desaturate(@color-main,15%),20%),darken(desaturate(@color-main,15%),3%));
        }
        &:after{
            content: " ";
            position: absolute;
            display: block;
            width: 1px;
            height: 80px;
            top:1px;
            left: 100%;
            #gradient > .vertical(lighten(desaturate(@color-main,15%),20%),darken(desaturate(@color-main,15%),3%));
        }
        .first{
            margin: 0;
            list-style: none;
            border-top:1px solid lighten(desaturate(@color-main,15%),20%);
        }
    }
}

.main-news{
    min-height: 290px;
    background-color: @color-main;
    .border-radius(2px);
    .list-view{
        padding: 0;
    }
    article{
        margin: 8px 0 8px 8px;
        background-color: @color-white;
        width: 232px;
        height: 274px;
        display: block;
        float: left;
        .border-radius(2px);
        figure{
            time{
                color:lighten(@color-gray,18%);
                font-size: 0.8em;
            }
            height: 80%;
            padding: 15px;
            margin: 0;
            figcaption{
                margin-top: 4px;
                color:@color-main;
                font-size: 1.0em;
                font-weight: bold;
                display: block;
            }
        }
        div{
            font-size: 0.8em;
            font-weight: bold;
            padding: 0 15px;
            a.comment{
                font-size: 0.8em;
            }
        }
    }
}

.main-tabs{
    .nav-tabs{
        border: 0;
        margin:0;
        z-index: 2;
        li{
            margin-right: 10px;
            z-index: 2;
            margin: 0;
            position: relative;
            background-color: transparent;
            &.active{
                background-color: transparent;
                z-index: 4;
                a{
                    box-shadow:0 1px 0px 0px lighten(@color-shadow,20%),0 0.5px 0.5px 1px lighten(@color-shadow,45%);
                    #gradient > .vertical(lighten(@color-main,6%),darken(@color-main,10%));
                    position:relative;
                    &:before{
                        content: "";
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to right, @color-main, lighten(desaturate(@color-main,15%),20%),@color-main);
                        display: block;
                        left:0;
                        top:100%;
                        position: absolute;
                    }
                }
            }
            a:hover{
                background-color:lighten(@color-gray,50%);
                color:@color-main-hover;
            }
            a{
                border: 0;
                .border-top-left-radius(3px);
                .border-top-right-radius(3px);
                background-color:lighten(@color-gray,40%);
                margin: 0;
                padding: 5px 10px;
                font-size: 0.9em;
                font-weight: bold;
                color:lighten(@color-black,15%);
            }
        }
    }
    .tab-content{
        position: relative;
        z-index: 3;
        .box-shadow(0 0 2px 0px lighten(@color-shadow,10%));
         background-color: @color-white;
    }
}

.banner{
    height: 100px;
    background-color: orange;
    margin: 20px 0;
}


.footer{
    .navbar-inner{
        background-color: #e2e7ea;
        background-image: none;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        height: 200px;
    }

}