@inputHeight: 10px;

@import "mixins.less";

/****************************Variables*********************************/
@color-main
=
#2f7a8f

;
@color-main-hover
=
#1e93a0

;
@color-body
=
#f5f4ef

;
@color-shadow
=
#3d3f3a

;
@color-white
=
#ffffff

;
@color-black
=
#000000

;
@color-gray
=
#808080

;

@base-url: '../img';
@sprite: url('../img/icons_sprite.png');
/********************************ICONS*********************************/
.css-icon {
    position: relative;
    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
    }
}

.css-icon-comment {
    border: 1px solid lighten(@color-gray, 28%);
    padding: 0px 3px 0 2px;
    font-size: 0.8em;
    .border-radius(2px);
    color: lighten(@color-black, 38%);
    background-color: lighten(@color-gray, 45%);
    z-index: 3;
    cursor: pointer;
    .transition(border-color 0.3s ease-in-out);
    &:hover, &:hover:after {
        border-color: @color-main-hover;
    }
    &:after {
        .transition(border-color 0.3s ease-in-out);
        top: 90%;
        left: 60%;
        border-right: 1px solid lighten(@color-gray, 28%);
        border-bottom: 1px solid lighten(@color-gray, 28%);
        background-color: lighten(@color-gray, 45%);
        .rotate(45deg);
        .square(3px);
        z-index: 4;
    }
}
.icon-eye-open{
    margin-top: 4px;
    background: @sprite 0 -1000px;
}
.icon-pen{
    margin-top: -2px;
    background: @sprite 0 -1050px;
}

/**********************************************************************/

body {
    background-color: @color-body;
}

figure {
    margin: 0;
}

a {
    color: @color-main;
    &:hover {
        color: @color-main-hover;
        text-decoration: none;
    }
}
.center{
    .center-block();
}

.main-container {
    max-width: 979px;
    .center-block();
}

.header {
    margin: 0;
    .navbar-inner {
        height: 165px;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        #gradient > .vertical-five-colors(@color-main,@color-main, 70%,lighten(@color-main,6%),  88%,lighten(@color-main,6%), 92%,@color-main, 110%);
    }
}

.head {
    background-color: @color-body;
    .logo {
        padding: 10px 0;
        figure{

        }
        .head-row{
            padding-left:10px;
            .first-row{
                padding-top:20px;
                .icon-calendar{
                    margin: 3px 4px 8px 0;
                    background: @sprite 0 -50px;
                }
                .icon-time{
                    background: @sprite 0 -100px;
                    margin: 0 3px 0 0;
                }
                .icon-tel{
                    background: @sprite 0 0;
                    width: 30px;
                    height: 35px;
                    margin-top: 8px;
                }
                #date{
                    color: #000000;
                    font-size: 11px;
                    font-weight: bold;
                }
                #time{
                    font-size: 19.5px;
                    color: #336360;
                }
                .tel-icon{
                    padding-left: 10px;
                }
                .caption{
                    font-size: 12px;
                    font-weight: bold;
                    margin-left: -5px;
                    margin-bottom: 4px;
                }
                .tel{
                    color:#ce4c13;
                    font-size: 14px;
                    margin-left: -5px;
                    span{
                        vertical-align: middle;
                        font-size: 20px;
                       font-weight: bold;
                    }
                }
                .input-append{
                    input{
                        background-color: #f1f4f4;
                        @shadow :inset 2px 1px 3px 1px #cbd2d2, inset 0px 10px 10px -5px #e1eeee;
                        color: #629694;
                        font-weight: bold;
                        font-size: 12px;
                        padding: 0 0 0px 8px;
                        .box-shadow(@shadow);
                        .placeholder(#629694);
                        width: 80%;
                    }
                    a{
                        width:10%;
                        #gradient > .vertical(#2c6f87,#276278);
                        &:hover{
                            background-color: @color-main-hover;
                            background-position: 0 -30px;
                        }
                    }
                }
            }
            .second-row{
                padding-top: 15px;
                .slogon{
                    color: #008080;
                    h3{
                        margin: 15px 0 0 0;
                        font-size: 22px;
                        font-weight: normal;
                    }
                }
                .auth{
                    padding-top:20px;
                    .user{
                        float:left;
                        a{
                            color:#31738a;
                            &:hover{
                                color: @color-main-hover;
                            }
                        }
                    }
                    .social{
                        float:left;
                       width: 92px;
                        height: 10px;
                    }
                }
            }

        }
    }
    .menu {
        height: auto;
        position: relative;
        #gradient > .vertical(lighten(@color-main,6%),darken(@color-main,10%));
        box-shadow: 0px 1px 0px 0px lighten(@color-shadow, 1%), 0px 2px 0px 0px lighten(@color-shadow, 10%), 0px 2px 0px 1px lighten(@color-shadow, 40%), 0px 2px 0.5px 2px lighten(@color-shadow, 50%), 0px 3px 1px 0px lighten(@color-shadow, 55%);
        border-bottom: 1px solid lighten(desaturate(@color-main, 15%), 1%);
        .border-radius(1px);
        padding: 1px 0 5px 0;
        &:before {
            content: " ";
            position: absolute;
            display: block;
            width: 1px;
            height: 81px;
            top: 1px;
            left: -1px;
            #gradient > .vertical(lighten(desaturate(@color-main,15%),20%),darken(desaturate(@color-main,15%),3%));
        }
        &:after {
            content: " ";
            position: absolute;
            display: block;
            width: 1px;
            height: 81px;
            top: 1px;
            left: 100%;
            #gradient > .vertical(lighten(desaturate(@color-main,15%),20%),darken(desaturate(@color-main,15%),3%));
        }
    /*---------------------FIRST-menu-------------------------------*/
        .first {
            margin: 0;
            list-style: none;
            border-top: 1px solid lighten(desaturate(@color-main, 15%), 20%);
            margin: 0 10px;
            .main-wrap {
                z-index: 5;
                .ie7-inline-block();
                display: inline-block;
                position: relative;
                .main-link {
                    text-shadow: 0 -1px 0px lighten(@color-shadow, 10%);
                    font-size: 14px;
                    font-weight: bold;
                    color: @color-white;
                    padding: 10px 21px;
                    display: block;
                    z-index: 10;
                    position: relative;
                }
                .menu-inner {
                    padding-top: 1px;
                    margin-top:0px;
                    li {
                        background-color: #288398;
                        border-top: 1px dashed #67a7b6;
                        a {
                            color: @color-white;
                            text-shadow: 0px 0px 1px #8cbdc8;
                            font-size: 11px;
                            font-weight: normal;
                            .box-shadow(0 0 0 0);
                            padding: 6px 24px;
                            display: block;
                        }
                        &:first-child {
                            border: 0;
                            a{
                                padding-top:10px;
                            }
                        }
                        &:hover {
                            background-color: #3e90a3;
                        }
                      &.active{
                          a {
                              font-size: 12px;
                              font-weight: bold;
                          }
                      }
                    }

                }
                &:first-child:before, &:first-child:after {
                    display: none;
                }
                &:hover {
                    .menu-inner {
                       left: 0px;
                    }
                    z-index: 10;
                    margin-top: -2px;
                    .border-radius(2px);
                    .main-link {
                        padding-top: 12px;
                        .border-radius(2px);
                        @shadow: 0 1px 0px 0px lighten(black, 15%), 0 1px 1px 0px lighten(black, 15%), 0 1px 1px 1px rgba(0, 0, 0, 0.5);
                        .box-shadow(@shadow);
                    }
                    .box-shadow(@shadow);
                    #gradient > .vertical(#15556b,#114456);
                    position: relative;
                }

                &:hover:before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    #gradient > .horizontal-three(darken(#134c60,6%),-20% ,lighten(desaturate(@color-main,25%),6%),50%,darken(#134c60,6%),120%);
                    display: block;
                    left: 0;
                    top: 41px;
                    position: absolute;
                    opacity: 1;
                    z-index: 15;
                }
                &:hover:after {
                    content: "▼";
                    .scale(2,1);
                    font-size: 10px;
                    color: #114456;
                    display: block;
                    cursor: pointer;
                    left: 50%;
                    top: 34px;
                    width: 6px;
                    height: 0;
                    margin-left: -5px;
                    text-shadow: 0px 1px 1px lighten(black, 25%);
                    position: absolute;
                    opacity: 1;
                    z-index: 15;
                }
                &:after {
                    content: ' ';
                    margin: 0;
                    display: block;
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    top: 0;
                    //left: 100%;
                    opacity: .2;
                    #gradient > .vertical-five-colors(lighten(@color-main,6%),lighten(@color-main,6%),20%,darken(@color-main,90%),50%,lighten(@color-main,0%),80%,lighten(@color-main,0%),100%);
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    top: 0;
                    left: 1px;
                    opacity: .2;
                    #gradient > .vertical-five-colors(lighten(@color-main,6%),lighten(@color-main,6%),20%,lighten(@color-main,90%),50%,lighten(@color-main,0%),80%,lighten(@color-main,0%),100%);
                }
                &.after-hover:before,&.after-hover:after {
                    display: none;
                }
                &.active {
                    margin-top: -4px;
                    padding-top: 1px;
                    #gradient > .vertical(#15556b,#114456);
                    border-bottom: 1px solid #0c2e3b;
                    &:hover {
                        .border-radius(0);
                        margin-top: -4px;
                        padding-top: 1px;
                        .main-link {
                            padding-top: 12px;
                            padding-bottom: 9px;
                            .border-radius(0);
                            @shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
                            .box-shadow(@shadow);
                        }
                    }
                    &:after, &:before, &:hover:after, &:hover:before {
                        display: none;
                    }
                    .main-link {
                        padding-top: 12px;
                        padding-bottom: 9px;
                        border-top: 1px solid #326e83;
                        border-bottom: 1px solid #3a5e6c;
                        @shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
                        .box-shadow(@shadow);
                    }
                    .main-link:before {
                        content: " ";
                        position: absolute;
                        display: block;
                        width: 1px;
                        height: 42px;
                        top: 0px;
                        left: 0px;
                        #gradient > .vertical(#326e83,#104051);
                    }
                    .main-link:after {
                        content: " ";
                        position: absolute;
                        display: block;
                        width: 1px;
                        height: 42px;
                        top: 0px;
                        margin-left: -1px;
                        left: 100%;
                        #gradient > .vertical(#326e83,#104051);
                    }
                }
            }

        }
    /*------------------SECOND-menu---------------------*/
        .second{
            margin: 0;
            list-style: none;
            border-bottom: 1px solid #e3dfd8;
            margin:0 5px;
            border-top: 1px solid #1c5b6a;
            .border-radius(3px);
            #gradient > .vertical-four-colors(#ecebe5,#ecebe5,30%,#ebe9e3,60%,#cdc5b6);
            .main-wrap {
                .ie7-inline-block();
                display: inline-block;
                position: relative;
                .main-link {
                    font-size: 13px;
                    font-weight: bold;
                    color: #346260;
                    padding: 7px 29px;
                    display: block;
                    position: relative;
                }
                &:hover,&.active{
                    @shadow: inset 0 2px 2px -1px;
                    .box-shadow(@shadow);
                    #gradient > .vertical-four-colors(#c4bfb2,#d9d7cf,30%,#e6e5e0,60%,#e6e5e0);
                }
                &:hover{
                    .menu-inner {
                        z-index: auto;
                        left:1px;
                    }
                }
                &:after {
                    content: '';
                    margin: 0;
                    display: block;
                    position: absolute;
                    width: 1px;
                    height: 40%;
                    top: 32%;
                    border-right: 1px dotted #7d9995;
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    margin: 0;
                    width: 1px;
                    height: 40%;
                    top: 32%;
                    left: 1px;
                    border-right: 1px dotted #ffffff;
                }
                &:hover:before,&:hover:after,&.active:before,&.active:after{
                    display: none;
                }
                &:first-child:before,&:first-child:after{
                    display: none;
                }
                &.after-hover:before,&.after-hover:after {
                    display: none;
                }
                .menu-inner {
                    //top:34px;
                    li {
                        background-color: #e6e5e0;
                        border-top: 1px dashed #cac9c5;
                        a {
                            color: #346260;
                            text-shadow: 0px 0px 1px #8cbdc8;
                            font-size: 11px;
                            font-weight: normal;
                            .box-shadow(0 0 0 0);
                            padding: 6px 24px;
                            display: block;
                        }
                        &:hover {
                           background-color: #f7f5ec;
                        }
                        &.active{
                            a {
                                font-size: 12px;
                                font-weight: bold;
                            }
                        }
                    }

                }
            }

        }
    /*--------------end menu---------------------------------------*/
        .menu-inner {
            left: -10000px;
            min-width: 100%;
            position: absolute;
            margin: 0;
            background-color: transparent;
            .border-radius(0 0 4px 4px);
            overflow:hidden;
            li {
                display: block;
                float: none;
            }
        }
    }

}

.breadcrumb {
    margin:10px 0;
    padding:0;
    a{
        font-size: 14px;
        font-weight: bold;
        color: @color-main;
        text-decoration: underline;
    }
     .divider{
        font-size: 14px;
        color: @color-main;
    }

    .active{
        font-size: 14px;
    }
}

.page-title{
    margin: 0;
    color: darken(@color-main, 18%);
}
.icon-paper{
    background: @sprite 0 -1100px;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-top:3px;
}

.main-news {
    min-height: 290px;
    background-color: @color-main;
    .border-radius(2px);
    .list-view {
        padding: 0;
    }
    article {
        margin: 8px 0 8px 8px;
        background-color: @color-white;
        width: 232px;
        height: 274px;
        display: block;
        float: left;
        .border-radius(2px);
        figure {
            time {
                color: lighten(@color-gray, 18%);
                font-size: 0.8em;
            }
            height: 80%;
            padding: 15px;
            margin: 0;
            figcaption {
                margin-top: 4px;
                color: @color-main;
                font-size: 1.0em;
                font-weight: bold;
                display: block;
            }
        }
        div {
            font-size: 0.8em;
            font-weight: bold;
            padding: 0 15px;
            a.comment {
                font-size: 0.8em;
            }
        }
    }
}
.photo-new{
    .head{
        background-color: #d0dee1;
        .border-radius(4px);
        margin-bottom: 6px;
        padding: 12px 10px 10px 10px;
        font-size: 16px;
        font-weight: bold;
        color: #2a5969;
        line-height:1;
    }
    figure{
        background: #000000;
         img{
             min-height: 190px;
         }
        figcaption{
            padding: 5px;
            line-height: 1;
            a{
                color: white;
                &:hover{
                    color:#b8b8b8;
                }
            }
        }
    }
    i{
        height: 18px;
        width: 20px;
        display: block;
        float: left;
        margin-right: 5px;
        vertical-align: center;
        line-height: 2;
    }
    .photo{
        background: @sprite 0 -650px;
        margin-top: -1px;
    }
    .video{
        margin-top: -1px;
        background: @sprite 0 -700px;
    }
}

.new {
    padding: 20px 0 20px 20px;
    display: block;
    border-bottom: 1px dashed lighten(@color-gray, 25%);
    .box-sizing(border-box);
    position: relative;
    .left-block {
        width: 204px;
        height: 113px;
        float: left;
    }
    .right-block {
        float: left;
        margin-left: 20px;
        width: 470px;
        .content {

            .title {
                color: @color-main;
                font-size: 16px;
                font-weight: bold;
            }
            .description {
                margin-top: 3px;
                font-size: 11.5px;
                line-height: 1.4;
                font-weight: bold;
                color: lighten(@color-black, 15%);
            }
        }
        .info-bar {
            time {
                color: lighten(@color-gray, 18%);
                font-size: 1em;
            }
            font-size: 0.8em;
            font-weight: bold;
            a.comment {
                font-size: 0.8em;
            }
        }
    }

    &:hover {
        margin-top: -1px;
        padding-top: 21px;
        background-color: #f7f5ec;
        border-bottom: 1px dashed #f7f5ec;
    }
}

.main-tabs {
    .nav-tabs {
        border: 0;
        margin: 0;
        z-index: 2;
        li {
            margin-right: 10px;
            z-index: 2;
            position: relative;
            &:nth-child(1):before{
                content: '';
                display: block;
                height: 18px;
                width: 18px;
                position: absolute;
                top:6px;
                left:8px;
                background: @sprite 0 -150px;
                z-index: 1000;
            }
            &.active:nth-child(1):before{
                background: @sprite 0 -200px;
                top:7px;
            }
            &:nth-child(2):before{
                content: '';
                display: block;
                height: 18px;
                width: 18px;
                position: absolute;
                top:11px;
                left:6px;
                background: @sprite 0 -250px;
                z-index: 1000;
            }
            &.active:nth-child(2):before{
                background: @sprite 0 -300px;
                top:12px;
            }
            &:nth-child(3):before{
                content: '';
                display: block;
                height: 18px;
                width: 18px;
                position: absolute;
                top:11px;
                left:9px;
                background: @sprite 0 -400px;
                z-index: 1000;
            }
            &.active:nth-child(3):before{
                background: @sprite 0 -350px;
                top:9px;
            }
            &.active {
                background-color: transparent;
                z-index: 4;
                a {
                    @shadow: 0 1px 0px 0px lighten(@color-shadow, 10%), 0 0.5px 0.5px 1px lighten(@color-shadow, 45%);
                    .box-shadow(@shadow);
                    #gradient > .vertical(lighten(@color-main,6%),darken(@color-main,10%));
                    position: relative;
                    font-weight: bold;
                    font-size: 1em;
                    color: lighten(@color-shadow, 68%);
                    &:before {
                        content: "";
                        width: 100%;
                        height: 1px;
                        #gradient > .horizontal-three(darken(@color-main,10%),-15% ,lighten(desaturate(@color-main,30%),10%),50%,darken(@color-main,10%),115%);
                        display: block;
                        left: 0;
                        top: 35px;
                        position: absolute;
                    }
                    &:after {
                        content: "▼";
                        .scale(2,1);
                        font-size: 10px;
                        color: darken(@color-main, 10%);
                        display: block;
                        left: 50%;
                        top: 28px;
                        margin-left: -5px;
                        text-shadow: 0px 2px 1px lighten(@color-shadow, 45%);
                        position: absolute;
                    }
                }
            }
            a:hover {
                border: 0;
                background-color: @color-white;
                color: @color-main-hover;
            }
            a {
                padding-left: 30px;
                border: 0;
                .border-top-left-radius(3px);
                .border-top-right-radius(3px);
                background-color: #e6e5e0;
                font-size: 0.9em;
                font-weight: bold;
                color: lighten(@color-black, 15%);
            }
        }
    }

}
.new-view{
    .title{
        .box-sizing(border-box);
        margin-top: 5px;
        margin-bottom:10px;
        .span3{
            padding-top: 10px;
            .author-image{

            }
            .author-name{
                font-size: 11.5px;
                font-weight: bold;
                padding-left: 5px;
                color:#62625f;
                line-height: 1.6;
            }
        }
        h3{
            margin: 0;
            line-height: 1.4;
        }
    }
    .description{
        .box-sizing(border-box);
        background-color: @color-white;
        .box-shadow(0 0 3px 0px #d8ddd8);
        font-size:12px;
        line-height: 1.4;
        font-weight:bold;
        .text{
            .box-sizing(border-box);
            padding: 25px;
            .main-image{
                float: left;
                margin: 0 20px 10px 0;
            }
        }

    //-------------------------view-new-carusel-------------------------//

        .jcarousel-wrapper{
            background-color: #f7f5ec;
            padding: 20px;
            width: 100%;
            .box-sizing(border-box);
            position:relative;
            .newCarousel {
                margin: 0 auto;
                width: 95%;
                position: relative;
                overflow: hidden;
                height: 100px;
                ul {
                    width: 20000em;
                    position: absolute;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        margin: 0 7px;
                        float: left;
                    }
                }
            }
            .jcarousel-prev{
                display: block;
                position: absolute;
                width: 15px;
                height: 30px;
                background: @sprite 0 -500px;
                left: 20px;
                top:40%;
            }
            .jcarousel-next{
                display: block;
                position: absolute;
                width: 15px;
                height: 30px;
                background: @sprite 0 -600px;
                left: 100%;
                margin-left: -25px;
                top:40%;
            }
        }

    }
    .info-bar{
        padding: 20px 25px;
        span,.comment{
            font-size: 10.5px;
        }
    }
}

.new-content, .tab-content {
    padding-bottom: 50px;
    position: relative;
    z-index: 3;
    background-color: @color-white;
}
.new-content{
    .box-shadow(0 0 3px 0px #d8ddd8);
}
.tab-content{
    .box-shadow(0 0 3px 0px lighten(@color-shadow,10%));
}

.banner {
    height: 100px;
    background-color: orange;
    margin: 20px 0;
    @shadow: inset 25px 0px 30px -15px rgba(12, 54, 64, 0.28);
    .box-shadow(@shadow);
}

.right-column{
    .row-fluid{
        margin: 20px 0;
        &:first-child{
            margin-top: 0;
        }
    }
}

.banner-column{
    height: 300px;
    background-color: orange;

}

.footer {
    background-image: url("@{base-url}/footer-bg.png");
    @shadow: inset 0px 25px 20px -15px rgba(12, 54, 64, 0.28);
    .box-shadow(@shadow);
    .footer-container {
        height: 200px;
    }

}

/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
    background: @sprite 0 -800px;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('blank.gif'); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background: @sprite 0 -850px;
}

.fancybox-next span {
    right: 10px;
    background: @sprite 0 -900px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background-color: rgba(0,0,0,0.6);
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

